<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>[[${department.id} == 0 ? #{addDepartment} :
	#{editDepartment}]]</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/main.css" th:href="@{/css/main.css}" />
<link rel="shortcut icon" href="../../static/images/favicon.ico"
	th:href="@{/images/favicon.ico}" />
</head>
<body>
	<div class="edit">
		<form th:action="@{/finishDepartmentEditing}" th:object="${department}" method="post">
			<fieldset>
				<legend>[[*{id} == 0 ? #{addDepartment} : #{editDepartment}]]</legend>
				<input type="hidden" th:field="*{id}"/>
				<div class="row">
					<div class="left-col">
						<label th:for="name">[[#{name}]]</label>
					</div>
					<div class="right-col">
						<input type="text" th:field="*{name}" th:errorclass="fieldError"/>
					</div>
					<div class="errors" th:if="${#fields.hasErrors('name')}">
						[[#{errors}]]:
						<ul>
							<li th:each="err : ${#fields.errors('name')}">[[${err}]]</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="left-col">
						<button type="submit" name="save">[[#{save}]]</button>
					</div>
					<div class="right-col">
						<button type="submit" name="cancel">[[#{cancel}]]</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>