<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>[[#{deleteEmployee}]]</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../static/css/main.css" th:href="@{/css/main.css}" />
<link rel="shortcut icon" href="../../static/images/favicon.ico"
	th:href="@{/images/favicon.ico}" />
</head>
<body>
	<div class="edit">
		<form action="#" th:action="@{/finishEmployeeDeleting}"
			th:object="${employee}" method="post">
			<fieldset>
				<legend>[[#{deleteEmployee}]]</legend>
				<input type="hidden" th:field="*{id}"/>
				<!-- -->
				<input type="hidden" th:field="*{departmentId}"/>
				<div class="row">
					<div class="left-col">
						<label th:for="firstName">[[#{firstName}]]</label>
					</div>
					<div class="right-col">
						<input type="text" th:field="*{firstName}" disabled/>
					</div>
				</div>
				<div class="row">
					<div class="left-col">
						<label th:for="lastName">[[#{lastName}]]</label>
					</div>
					<div class="right-col">
						<input type="text" th:field="*{lastName}" disabled/>
					</div>
				</div>
				<div class="row">
					<div class="left-col">
						<label th:for="employee.title.name">[[#{title}]]</label>
					</div>
					<div class="right-col">
						<input type="text" th:field="${employee.title.name}" disabled/>
					</div>
				</div>
				<div class="row">
					<div class="left-col">
						<button type="submit" name="delete">[[#{delete}]]</button>
					</div>
					<div class="right-col">
						<button type="submit" name="cancel">[[#{cancel}]]</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>